<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto bg-white shadow-lg rounded-lg p-8 mt-10 max-w-xl">
      <h2 class="text-3xl text-blue-500 font-bold text-center mb-6">
       Wecome to airbnb Home Page:
      </h2>
      <ul class="space-y-4">
        <% registeredHomes.forEach(home => { %>
          <li class="bg-gray-100 p-4 rounded-lg shadow-md hover:shadow-lg transition duration-300 flex gap-4 items-center">

  <img src="<%= home.imageUrl %>" 
       alt="Home Image" 
       class="w-32 h-32 object-cover rounded-lg border" />

  <div class="text-lg text-gray-800">
    House: <strong><%= home.houseName %></strong> <br>
    Price: <span class="text-blue-500 font-bold"><%= home.price %> / night</span> <br>

    Rating: ⭐ <%= home.rating %> <br>
    Location: <%= home.location %>
    <div><button class="bg-green-400 text-black px-4 py-2 rounded hover:bg-green-300 transition">
  Book
</button>
</div>
  </div>
  
</li>

        <% }) %>
        
      </ul>
    </main>
  </body>
</html>